@use '../../styles/utils/index' as u;

.root{
	display: flex;
	width: 100%;
	justify-content: center;
}

.search-input{
	flex-basis: 33%;
}

.empty-search-item{
	display: flex;
	justify-content: center;
}