// Colors
$primary-green: #1DB954;
$primary-black: #121212;
$transparant-black: rgba(197, 197, 197, 0.3);
$transparant-background-dark: rgba(18, 18, 18, 0.8);
$primary-white: #FFFFFF;
$primary-grey: #292929;
$secondary-grey: #B3B3B3;
$error-red: #E02424;



// Fonts
$primary-font-family: "Circular", "Gotham", "Helvetica Neue", "Arial", sans-serif;